/codes/models/__pycache__
/results/
/build/
/secoem.egg-info/

/model_formulations/ec_model_with_hydrogen/ec_model_formulation.aux
/model_formulations/ec_model_with_hydrogen/ec_model_formulation.bbl
/model_formulations/ec_model_with_hydrogen/ec_model_formulation.bcf
/model_formulations/ec_model_with_hydrogen/ec_model_formulation.blg
/model_formulations/ec_model_with_hydrogen/ec_model_formulation.log
/model_formulations/ec_model_with_hydrogen/ec_model_formulation.out
/model_formulations/ec_model_with_hydrogen/ec_model_formulation.run.xml
/model_formulations/ec_model_with_hydrogen/ec_model_formulation.synctex.gz


/model_formulations/ec_model/ec_model_formulation.aux
/model_formulations/ec_model/ec_model_formulation.bbl
/model_formulations/ec_model/ec_model_formulation.bcf
/model_formulations/ec_model/ec_model_formulation.blg
/model_formulations/ec_model/ec_model_formulation.log
/model_formulations/ec_model/ec_model_formulation.out
/model_formulations/ec_model/ec_model_formulation.run.xml
/model_formulations/ec_model/ec_model_formulation.synctex.gz
